@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


.oswald{
    font-family: 'Oswald', sans-serif;
}

.container{
    text-align: center;
    width:100%;
}


.inline-block{
    display:inline-block;
}

a{
    text-decoration: none;
}

.absolute{
    position: absolute;
}

.menu{
    border-radius: 99px;
    font-size: 32px;
    
}

.child-menu-01, .child-menu-02{
    width:250px;
    display:none;
}

.menu a{
    margin: 0 25px;
    padding:25px;
    color:rgb(4, 0, 85);
}

.menu a:hover{
    background-color: red;
    color:white;
    border-radius:5px;
}


.menu a.hovered:hover{

}

