@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.add{
  background: url('https://simplest-react-todo-app.herokuapp.com/static/media/add.74fc797d.svg') no-repeat center;
  width:20px;
  height:100%;
}

.search{
  background: url('https://simplest-react-todo-app.herokuapp.com/static/media/search.8a0c8c4e.svg') no-repeat center;
  width:20px;
  height:100%;
}