@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
    background: #000;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    height:115vh;
}

.b{
    background: #000;
}


.text-white{
    color:#ffffff;
}